@font-face {
  font-family: 'Play';
  src: url('../fonts/Play-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Play';
  src: url('../fonts/Play-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('../fonts/MonumentExtended-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('../fonts/MonumentExtended-Ultrabold.ttf') format('ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Russo One';
  src: url('../fonts/RussoOne-Regular.ttf') format('ttf');
  font-weight: 400;
}